* {
    margin: 0;
}

body {
  font-family: 'Montserrat';
}

header,
footer {
    background-color: white;
    padding: 10px 10px;
}

nav, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p, nav p {
  color: #D2B48C;
}


@media screen and (max-width: 653px) {
  nav div {
    flex: 1;
  }
}

@media screen and (max-width: 652px) {
  nav {
    flex-wrap: wrap;
  }
  nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav div a {
    margin-left: 0;
  }
}

.languages {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}
.languages a {
  margin-left: 15px;
}
/* .languages #portuguese {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/510px-Flag_of_Portugal.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
}
.languages #french {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/510px-Flag_of_France.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
} */

a {
  margin-left: 30px;
  color:black;
  text-decoration: none;
}

a.lien-icone {
  margin-left: 0;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    text-align: center;
    padding: 30px;
    color: black;
    background-color: #D2B48C;
}

div {
  display: block;
}

h1 {
  padding: 20px;
  font-size: 40px;
  line-height: 1em;
  letter-spacing: 1px;
  color: wheat;
  font-family: 'Oswald'; 
}

p {
  font-size: 20px;
  line-height: 1.50em;
  letter-spacing: 0px;
  color: wheat;
  margin: 16px;
}

#rsvp {
    background-image: url(./image/index.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0;
}

#rsvp div:first-of-type {
  padding: 120px 120px;
  background-color: rgba(0,0,0,0.4);
  color: wheat
}

.section-date h1 {
  font-size: 23px;
}

.section-date p {
  font-family: 'Marck Script';
  font-size: 50px;
  color: black;
}


#details {
  background-image: url(./image/sicily.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0;
}

#details div:first-of-type {
  padding: 120px 120px;
  background-color: rgba(0,0,0,0.4);
}

#details a {
  font-size: 20px;
  line-height: 1.50em;
  letter-spacing: 0px;
  color: wheat;
  margin: 0;
  text-decoration: underline;
}

#travel div:first-of-type {
  padding: 120px 120px;
}

.section-travel p {
  color: black;
}

#registry {
  background-image: url(./image/lemons.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0;
}

#registry div:first-of-type {
  padding: 120px 120px;
  background-color: rgba(0,0,0,0.4);
}

.section-contact, h1 p {
  padding: 120px 120px;
}

.section-contact p {
  color: black;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    padding: 50px;
    color: wheat;
  }

.form-name-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

input, textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
  }

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
  }

 /* input[type='text']:focus {
  border-color: wheat;
} */

.cta {
    display: inline-block;
    border-radius: 50px;
    padding: 20px 30px;
    margin-bottom: 80px;
    color: #D2B48C;
    background-color: white;
  }

@media screen and (max-width: 997px) {
  input[type='submit'].cta {
    width: unset;
  }
}

.cta:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.1);
  }

label {
  color: black;
}

@media screen and (max-width: 996px) {
  .form-name-email {
    flex-direction: column;
    gap: 0;
  }

  input {
    flex-direction: column;
    gap: 0;
  }

  #rsvp div:first-of-type {
    padding: 30px;
    background-color: rgba(0,0,0,0.4);
    color: wheat
  }

  #details div:first-of-type {
    padding: 30px;
    background-color: rgba(0,0,0,0.4);
  }

  #travel div:first-of-type {
    padding: 30px;
  }

  #registry div:first-of-type {
    padding: 30px;
    background-color: rgba(0,0,0,0.4);
  }
  
  .section-contact, h1 p {
    padding: 30px;
  }

  footer {
    padding: 0%;
  }

  /*.logo {
    height: 100px;
    width: 100px;
  } */

  #rsvp {
    background-image: url(./image/index.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  #details {
    background-image: url(./image/sicily.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  #registry {
    background-image: url(./image/lemons.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
  }
}